.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  height: 160px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.modal-buttons .confirm-delete {
  background-color: #ff4757;
  color: white;
}

.modal-buttons .confirm-delete:hover {
  background-color: #ff6b6b;
}

.modal-buttons .cancel {
  background-color: #f1f2f6;
  color: #333;
}

.modal-buttons .cancel:hover {
  background-color: #dfe4ea;
}
